beautifulsoup4
boto3
britive~=4.0
certifi
charset-normalizer
click>=8.1.7
colored
cryptography
google-cloud-compute
jmespath
merge-args
mkdocs-click
mkdocs
pyjwt
pytest
python-dateutil
PyYAML
requests
tabulate
toml
twine
urllib3